{% extends 'base.html.twig' %}

{% block title %}Posts index{% endblock %}

{% block body %}
    <h1>Les articles</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Titre</th>
                <th>Image de couverture</th>
            </tr>
        </thead>
        <tbody>
        {% for post in posts %}
            <tr>
                <td>{{ post.title }}</td>
                <td> <img src={{post.imgThumbnail}} alt="imgHeader" width="100px"></td>
                <td>
                    <a href="{{ path('app_back_posts_edit', {'id': post.id}) }}" class="button is-info">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="10">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_back_posts_new') }}" class="button is-primary">Nouvelle article</a>
{% endblock %}
