{% extends 'base.html.twig' %}

{% block title %}New Posts{% endblock %}

{% block body %}
    <h1>Nouvelle Article</h1>

    {{ include('back/posts/_form.html.twig', {'button_label': 'Sauvegarder'}) }}

    <a href="{{ path('app_back_posts_index') }}" class="button is-light">Retours à la list</a>

{% endblock %}
