@font-face {
    font-family: 'Krea';
    src: url(../fonts/wildy.ttf);
}
@font-face {
    font-family: 'text';
    src: url(../fonts/shrimp.ttf);
}

html {
}
body {
    font-family: 'text' !important;
}
.krea, 
h1 {
    font-size: 3rem;
    font-family: 'Krea' !important;
}
h1{
    text-align: center;
}
form{
    width: 50%;
    margin: auto;
}
form button.button, 
a.button{
    width: 50%;
    display: block;
    margin: 1rem auto;

}
nav a.button.is-black,
a.button.is-info,
nav a.button.is-primary {
    width: 100%;
    margin: 0;
}
label{
    font-size: 1.5rem;
    padding: 1rem;
}
.card-krea{
    font-family: 'krea';
    font-size: 1.5rem;
    width: 250px;
    height: 250px;
    text-align: center;
    display: block;
    margin: 1rem ;
}
.cards{
    display: flex;
    justify-content: center;
}
.card-krea img{
    object-fit: cover;
    width: 250px;
    height: 250px;
}