{% extends 'base.html.twig' %}

{% block title %}New ImagePlaceholder{% endblock %}

{% block body %}
    <h1>Create new ImagePlaceholder</h1>

    {{ include('back/image_placeholder/_form.html.twig') }}

    <a href="{{ path('app_back_image_placeholder_index') }}">back to list</a>
{% endblock %}
